// espacamento
$espacamento-vertical: 20px 0px;

// deficinicao de cor
$depoimentos-color: #f87171;

$home-color:#60a5fa;

$sobre-color: #34d399;

$services-color: #fbbf24;

$contato-color: #c084fc;

// deficinoes gerais

$background-color:linear-gradient(135deg, #0f172a, #1e293b, #334155);

$font: Arial, "Helvetica Neue", Helvetica, sans-serif;



