/* CONTAINER GRID */

.container{
    display: grid;

    grid-template-areas:
        "header"
        "home"
        "sobre"
        "servicos"
        "depoimentos"
        "contato";

    grid-template-rows: auto auto auto auto auto auto;

    min-height: 100vh;

    max-width: 1200px;
    margin: auto;
}

/* AREAS DO GRID */

header{
    grid-area: header;
}

#home{
    grid-area: home;
}

#sobre{
    grid-area: sobre;
}

#servicos{
    grid-area: servicos;
}

#depoimentos{
    grid-area: depoimentos;
}

#contato{
    grid-area: contato;
}

.card{
    display: grid;
    grid-template-areas:
        "titulo"
        "paragrafo"
    ;
    grid-template-rows: 1fr 2fr
}
.servicos--card--titulo{
    grid-area: titulo;
}
.servicos--card--paragrafo{
    grid-area: paragrafo;
}

