*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b, #334155);
}
.container {
    animation: aparecer 1s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ESPAÇAMENTO */

section, header{
    padding: 20px 0px;
}

/* LOGO */

img{
    max-height: 100px;
}

/* MENU */

.cabecalho__nav__ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.cabecalho__nav__ul__link{
    padding: 1rem;
}

.cabecalho__nav__ul__link--ancora{
    color: #c1c0ae;
    text-decoration: none;
}

.cabecalho__nav__ul__link--ancora:hover{
    color: #070705;
}

/* TITULOS */

h2, h3{
    padding: 1%;
}

p{
    margin: 1.5rem 1rem;
}

/* HOME */
.home{
    text-align: center;
    color: #60a5fa;
}
.home--titulo, .home--paragrafo{
    text-align: start;
    color: #60a5fa;
}
.home--botao{
    background: #6366f1;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
/* SOBRE  Nós*/

.sobre{
    color: #34d399;
    text-align: center;
}
.sobre--titulo{
    font-size: xx-large;
}
.sobre--paragafo{
    text-decoration: underline;
}
.sobre--paragafo:hover{
    font-size: 1.2em;
    transition: 0.5s;
}

.sobre--valores{
    font-size: xx-large;
}
.sobre__lista{
    padding: 1em 0em;
}
.sobre__lista--valores{
    padding: 1em;
    text-decoration: none;
}
.sobre__lista--valores:hover{
    color: #be4122;
    transition: 1s;
    transform: translateY(-5px);
}
/* SERVIÇOS */

.servicos{
    text-align: center;
    color: #fbbf24;
}

.servicos--card{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card{
    background: #3e6970;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.534);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.servicos--card--titulo{
    color: #fff;
    padding: 10px 0px ;
}
.servicos--card--paragrafo{
    font-size: 16px;
    line-height: 1.6;
    color: #6bce44;
}

/* DEPOIMENTOS */

.depoimentos{
    color: #f87171;
}
.depoimentos--titulo{
    transform: translateX(10%);
}
.depoimentos--paragrafo{
    text-decoration: underline;
    padding-top: 7px;
    transform: translateX(5%);
}





.contato--titulo, .contato--paragrafo{
    color: #c084fc;
}

@media (max-width: 768px){
    nav ul{
        flex-direction: column;
        align-items: center;
    }
    .cards-servicos{
        flex-direction: column;
        align-items: center;
    }
    .container{
        margin: 0 0 0 0;
        max-width: 100vh;
    }
    img{
        display: none;
    }
    .card{
        max-width: 100%;
    }

}